<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/web_server.css">
	<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WEB SERVER</title>
</head>
<body>
<button class='glowing-btn'><span class='glowing-txt'>PWR<span class='faulty-letter'>X</span>NDR</span></button>
<script type="text/javascript" src="static/web_server.js"></script>
</body>
</html>